{% extends 'base.html' %}

{% block content %}
<body>
        <div class="container py-5">
            <h1 class="text-center mb-4">Register</h1>
            <form style="max-width: 600px;" class="bg-light border rounded rounded-sm p-3 mx-auto" action="/register" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <p>Password should be at least 8 characters.</p>
                <div class="form-group mb-3">
                    <label for="confirm_password.name">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control">
                </div>
                <button class="btn btn-success w-100 mb-3">Register</button>
                <p class="text-center m-0">If already registered, please click here <a href="/">Login</a></p>
            </form>
        </div>
</body>
{% endblock %}
