<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Edit your question!</h1>
            <form  method="POST" action="{{this_question.id}}/update_question">
                {% csrf_token %}
                <label for="prompt"> Question </label> <input name="prompt" type="text">
                <button class="btn btn-success" type="submit">Update Question</button>
            </form>
        </div>
        <div>
            <h3>Answers to this Question: {{this_question.prompt}}</h3>
            {% for answer in this_question.has_answers.all%}
                <p>{{answer.text}}</p>
                <a class="btn btn-outline-danger" href="{{this_question.id}}/delete_answer/{{answer.id}}" method="POST">Delete Answer</a>
            {% endfor %}
        </div>
        <div>
            <h1>Add an answer to your question!</h1>
            <form  method="POST" action="create_answer/{{this_question.id}}">
                {% csrf_token %}
                <label for="text"> Answer </label> <input name="text" type="text">
                <input type="hidden" name="correct" value="False">
                <!-- hidden correct input "False" MUST be loaded above "True" -->
                <label for="correct"> Correct Answer </label> <input name="correct" type="checkbox" value="True">
                <button class="btn btn-success" type="submit">Create Answer</button>
            </form>
        </div>
    </div>
</body>
</html>