<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Add a question to your quiz!</h1>
            <form  method="POST" action="create_question">
                {% csrf_token %}
                <label for="prompt"> Question </label> <input name="prompt" type="text">
                <button class="btn btn-success" type="submit">Create Question</button>
            </form>
        </div>
    </div>
</body>
</html>