{% extends 'base.html' %}


{% block content %}
<div class="container pt-5">
    <h1>Add an answer to your quiz</h1>
    <p>Please create two answers.</p>
    <form style="max-width: 600px;" method="POST" action="create_answer">
        {% csrf_token %}
        <div class="form-group mb-2">
            <label for="text"> Answer</label>
            <input name="text" type="text" class="form-control">
        </div>
        <input type="hidden" name="correct" value="False">
        <!-- hidden correct input "False" MUST be loaded above "True" -->
        <div class="form-check mb-2">
            <input class="form-check-input" name="correct" type="checkbox" value="True">
            <label class="form-check-label" for="correct">Correct Answer</label> 
        </div>
        <button class="btn btn-success" type="submit">Create Answer</button>
    </form>
</div>
{% endblock %}